<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4" style="padding-bottom:1rem">
        <md-card class="card-elevation-5">
            <img md-card-image src="assets/dashboard-book.jpg">
            <md-card-content>
                <h4>Book</h4>
                <p>Lorem Ipsum...</p>
            </md-card-content>
            <md-card-actions>
                <button md-raised-button color="accent" (click)="booking()">Book!</button>
            </md-card-actions>
        </md-card>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4" style="padding-bottom:1rem">
        <md-card class="card-elevation-5">
            <img md-card-image src="assets/dashboard-reservations.jpg">
            <md-card-content>
                <h4>My reservations</h4>
                <p>Lorem Ipsum...</p>
            </md-card-content>
            <md-card-actions>
                <button md-raised-button color="accent" (click)="reservations()">Check!</button>
            </md-card-actions>
        </md-card>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4" style="padding-bottom:1rem">
        <md-card class="card-elevation-5">
            <img md-card-image src="assets/dashboard-settings.jpg">
            <md-card-content>
                <h4>Settings</h4>
                <p>Lorem Ipsum...</p>
            </md-card-content>
            <md-card-actions>
                <button md-raised-button color="accent" (click)="settings()">Admin!</button>
            </md-card-actions>
        </md-card>
    </div>
</div>
